## Data Cleaning
### The goal is to have a file ready to use in a BI tool and facilitate the EDA

In [66]:
import pandas as pd

In [67]:
df_steam = pd.read_excel('Data/steam_orignal_1.xlsx', index_col=0)
df_steam.head()

,type,name,steam_appid,required_age,is_free,detailed_description,about_the_game,short_description,supported_languages,website,...,controller_support,reviews,mac_requirements.recommended,linux_requirements.recommended,legal_notice,pc_requirements,ext_user_account_notice,drm_notice,price_overview.recurring_sub,price_overview.recurring_sub_desc
0,game,Counter-Strike,10,0,False,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,"English<strong>*</strong>, French<strong>*</st...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,game,Counter-Strike,10,0,False,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,"English<strong>*</strong>, French<strong>*</st...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,game,Team Fortress Classic,20,0,False,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...,"English, French, German, Italian, Spanish - Sp...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,game,Team Fortress Classic,20,0,False,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...,"English, French, German, Italian, Spanish - Sp...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,game,Day of Defeat,30,0,False,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,"English, French, German, Italian, Spanish - Spain",http://www.dayofdefeat.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
#just by looking at the firts 5 rows aboove we can see duplicates so let's taje care of that
df_steam.drop_duplicates(inplace=True)

In [69]:
df_steam.shape

(13220, 54)

In [70]:
#before we start, let's start by checking if we only have "games"
df_steam['type'].unique()

array(['game'], dtype=object)

In [71]:
#What are we dealing with
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13220 entries, 0 to 16582
Data columns (total 54 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   type                               13220 non-null  object
 1   name                               13219 non-null  object
 2   steam_appid                        13220 non-null  int64
 3   required_age                       13220 non-null  object
 4   is_free                            13220 non-null  bool
 5   detailed_description               12882 non-null  object
 6   about_the_game                     12882 non-null  object
 7   short_description                  12883 non-null  object
 8   supported_languages                12894 non-null  object
 9   website                            6598 non-null   object
 10  developers                         12876 non-null  object
 11  publishers                         13220 non-null  object
 12  packages                           9085 non-null   object
 13  package_groups                     13220 non-null  object
 14  categories                         12769 non-null  object
 15  genres                             12881 non-null  object
 16  screenshots                        13029 non-null  object
 17  background_raw                     13046 non-null  object
 18  pc_requirements.minimum            12949 non-null  object
 19  mac_requirements.minimum           5900 non-null   object
 20  linux_requirements.minimum         5066 non-null   object
 21  price_overview.currency            8972 non-null   object
 22  price_overview.initial             8972 non-null   float64
 23  price_overview.final               8972 non-null   float64
 24  price_overview.discount_percent    8972 non-null   float64
 25  price_overview.initial_formatted   473 non-null    object
 26  price_overview.final_formatted     8972 non-null   object
 27  platforms.windows                  13220 non-null  bool
 28  platforms.mac                      13220 non-null  bool
 29  platforms.linux                    13220 non-null  bool
 30  metacritic.score                   674 non-null    float64
 31  recommendations.total              2314 non-null   float64
 32  release_date.coming_soon           13220 non-null  bool
 33  release_date.date                  13148 non-null  object
 34  content_descriptors.ids            13220 non-null  object
 35  content_descriptors.notes          1942 non-null   object
 36  dlc                                1843 non-null   object
 37  mac_requirements                   7318 non-null   object
 38  linux_requirements                 8154 non-null   object
 39  demos                              1317 non-null   object
 40  movies                             11887 non-null  object
 41  achievements.total                 5781 non-null   float64
 42  achievements.highlighted           5661 non-null   object
 43  pc_requirements.recommended        7935 non-null   object
 44  controller_support                 3016 non-null   object
 45  reviews                            1683 non-null   object
 46  mac_requirements.recommended       4352 non-null   object
 47  linux_requirements.recommended     4082 non-null   object
 48  legal_notice                       3703 non-null   object
 49  pc_requirements                    269 non-null    object
 50  ext_user_account_notice            214 non-null    object
 51  drm_notice                         59 non-null     object
 52  price_overview.recurring_sub       13 non-null     float64
 53  price_overview.recurring_sub_desc  13 non-null     object
dtypes: bool(5), float64(7), int64(1), object(41)
memory usage: 5.1+ MB

In [72]:
#let's see what columns we have, probably we can get rid of some before doing some more complex stuff
print(df_steam.columns)

Index(['type', 'name', 'steam_appid', 'required_age', 'is_free',
       'detailed_description', 'about_the_game', 'short_description',
       'supported_languages', 'website', 'developers', 'publishers',
       'packages', 'package_groups', 'categories', 'genres', 'screenshots',
       'background_raw', 'pc_requirements.minimum', 'mac_requirements.minimum',
       'linux_requirements.minimum', 'price_overview.currency',
       'price_overview.initial', 'price_overview.final',
       'price_overview.discount_percent', 'price_overview.initial_formatted',
       'price_overview.final_formatted', 'platforms.windows', 'platforms.mac',
       'platforms.linux', 'metacritic.score', 'recommendations.total',
       'release_date.coming_soon', 'release_date.date',
       'content_descriptors.ids', 'content_descriptors.notes', 'dlc',
       'mac_requirements', 'linux_requirements', 'demos', 'movies',
       'achievements.total', 'achievements.highlighted',
       'pc_requirements.recommended', 'controller_support', 'reviews',
       'mac_requirements.recommended', 'linux_requirements.recommended',
       'legal_notice', 'pc_requirements', 'ext_user_account_notice',
       'drm_notice', 'price_overview.recurring_sub',
       'price_overview.recurring_sub_desc'],
      dtype='object')

In [73]:
#removeing columns, for the prices will keep only the currenty discounts and the original price.
columns_to_exclude = ['type', 'detailed_description', 'short_description','supported_languages', 'website','packages', 'package_groups'
                        ,'screenshots','background_raw', 'pc_requirements.minimum', 'mac_requirements.minimum',
                        'linux_requirements.minimum','price_overview.initial','price_overview.final', 
                        'release_date.coming_soon', 'content_descriptors.ids', 'mac_requirements','linux_requirements', 'demos', 'movies', 
                        'achievements.highlighted', 'pc_requirements.recommended', 'reviews', 'mac_requirements.recommended', 'linux_requirements.recommended','legal_notice',
                        'pc_requirements', 'ext_user_account_notice', 'price_overview.recurring_sub']
df_steam = df_steam.drop(columns=columns_to_exclude)

len(df_steam.columns)

25

In [74]:
# what's the percentage of missing values
missing_values = df_steam.isnull().sum() / len(df_steam) * 100
missing_values.sort_values(ascending=False)

price_overview.recurring_sub_desc    99.901664
drm_notice                           99.553707
price_overview.initial_formatted     96.422088
metacritic.score                     94.901664
dlc                                  86.059002
content_descriptors.notes            85.310136
recommendations.total                82.496218
controller_support                   77.186082
achievements.total                   56.270802
price_overview.discount_percent      32.133132
price_overview.final_formatted       32.133132
price_overview.currency              32.133132
categories                            3.411498
developers                            2.602118
genres                                2.564297
about_the_game                        2.556732
release_date.date                     0.544629
name                                  0.007564
steam_appid                           0.000000
platforms.windows                     0.000000
platforms.mac                         0.000000
platforms.linux                       0.000000
publishers                            0.000000
is_free                               0.000000
required_age                          0.000000
dtype: float64

In [75]:
# will remove data with no name and released date
df_steam_dropped = df_steam.dropna(subset=["name", "release_date.date"])

In [ ]:
#remove the [""] and ['']
df_steam_dropped['developers'] = df_steam_dropped['developers'].str.replace(r"[\[\]\"]|'", "")
df_steam_dropped['publishers'] = df_steam_dropped['publishers'].str.replace(r"[\[\]\"]|'", "")

In [ ]:
# Columns with True or False values will be replaced to 1 and 0
columns_to_change = ['is_free', 'platforms.linux', 'platforms.mac', 'platforms.windows']

df_steam_dropped[columns_to_change] = df_steam_dropped[columns_to_change].replace(['True', 'False'], [1, 0])
df_steam_dropped[columns_to_change] = df_steam_dropped[columns_to_change].astype(int)

In [ ]:
df_steam_dropped['controller_support'] = df_steam_dropped['controller_support'].replace(['full'], 1)

In [ ]:
#Will change the rows with DRM to 1 and the rest to 0
df_steam_dropped['drm_notice'] = df_steam_dropped['drm_notice'].notnull().astype(int)

In [80]:
# Renaming the columns
new_names = {
    'steam_appid': 'Steam_AppID',
    'required_age': 'Minimum_age',
    'is_free': 'Free',
    'about_the_game': 'About_the_Game',
    'developers': 'Developers',
    'publishers': 'Publishers',
    'name': 'Game',
    'controller_support': 'Full_Controller_Support',
    'drm_notice': 'DRM_Protection',
    'achievements.total': 'Total_Achievements',
    'dlc': 'Count_DLC',
    'release_date.date': 'Release_Date',
    'recommendations.total': 'Recommendations',
    'metacritic.score': 'Metacritic_Score',
    'platforms.windows': 'Windows_Support',
    'platforms.mac': 'Mac_Support',
    'platforms.linux': 'Linux_Support'
}

df_steam_dropped = df_steam_dropped.rename(columns=new_names)

### The painstacking process of creating a new column with all prices converted to Euros

In [ ]:
#Lets start to remove the unwated strings, to convert this col to a float
df_steam_dropped['price_overview.final_formatted'] = df_steam_dropped['price_overview.final_formatted'].str.replace('Â£', '').str.replace('â‚¬', '').str.replace('$', '').str.replace('S', '').str.replace('Â¥', '').str.replace('â‚©', '').str.replace(',--', '').str.replace('zÅ‚', '').str.replace('HK', '').str.replace('R', '').str.replace('.', ',')

In [82]:
#All commas to dots
df_steam_dropped['price_overview.final_formatted'] = df_steam_dropped['price_overview.final_formatted'].str.replace(',', '.')

In [83]:
# converting the col to float
df_steam_dropped['price_overview.final_formatted'] = df_steam_dropped['price_overview.final_formatted'].astype(float)

In [84]:
# Define the conversion rates (on 17/06/2023) from each currency to euros
conversion_rates = {
    'EUR': 1.0,   # euros to euros (1:1)
    'GBP': 1.17,  # pounds to euros
    'USD': 0.89,  # dollars to euros
    'SGD': 0.68,  # singapure dollars to euros
    'CNY': 0.13,  # Chinese yuan renminbi to euros
    'KRW': 0.00071, # South Korean won to euros
    'HKD': 0.12,   # Hong Kong Dollar to euros
    'BRL': 0.19, # Brazilian Real to euros
    'PLN': 0.22, # Polish Zloty to euros
}

# Define function to convert prices
def convert_to_euros(price, currency):
    conversion_rate = conversion_rates.get(currency, 1.0)
    return float(price) * conversion_rate

# Create a new column 'Price_In_Euros' with the prices converted to euros based on the currency column
df_steam_dropped['Price_In_Euros'] = df_steam_dropped.apply(lambda row: convert_to_euros(row['price_overview.final_formatted'], row['price_overview.currency']), axis=1)

In [85]:
#Creating a new column for the orignal price
df_steam_dropped['Original_Price'] = df_steam_dropped['Price_In_Euros'] / (1 - (df_steam_dropped['price_overview.discount_percent'] / 100))

In [86]:
# rouding this to 2 decimals in place
df_steam_dropped['Price_In_Euros'] = df_steam_dropped['Price_In_Euros'].round(2)
df_steam_dropped['Original_Price'] = df_steam_dropped['Original_Price'].round(2)

In [87]:
# since theres no need for these columns anymore, let's remove them
price_columns_to_exclude = ['price_overview.currency', 'price_overview.discount_percent', 'price_overview.initial_formatted', 'price_overview.final_formatted']
df_steam_dropped = df_steam_dropped.drop(columns=price_columns_to_exclude)

len(df_steam.columns)

25

#### this did not take more than a day at all...

In [88]:
#the Count_DLC column currently contains the IDs of the DLCs, will change them to the actual count
df_steam_dropped['Count_DLC'] = df_steam_dropped['Count_DLC'].str.count('\d+')

In [89]:
#fill blank values with 0 for the selected columns
columns_to_fill_0 = ['Count_DLC', 'Total_Achievements', 'Full_Controller_Support', 'price_overview.recurring_sub_desc', 'Price_In_Euros', 'Original_Price', 'Recommendations']
df_steam_dropped[columns_to_fill_0] = df_steam_dropped[columns_to_fill_0].fillna(0)

#### let's change the data type now

In [90]:
df_steam_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13147 entries, 0 to 16582
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Game                               13147 non-null  object
 1   Steam_AppID                        13147 non-null  int64
 2   Minimum_age                        13147 non-null  object
 3   Free                               13147 non-null  int32
 4   About_the_Game                     12815 non-null  object
 5   Developers                         12804 non-null  object
 6   Publishers                         13147 non-null  object
 7   categories                         12700 non-null  object
 8   genres                             12808 non-null  object
 9   Windows_Support                    13147 non-null  int32
 10  Mac_Support                        13147 non-null  int32
 11  Linux_Support                      13147 non-null  int32
 12  Metacritic_Score                   672 non-null    float64
 13  Recommendations                    13147 non-null  float64
 14  Release_Date                       13147 non-null  object
 15  content_descriptors.notes          1936 non-null   object
 16  Count_DLC                          13147 non-null  float64
 17  Total_Achievements                 13147 non-null  float64
 18  Full_Controller_Support            13147 non-null  float64
 19  DRM_Protection                     13147 non-null  int32
 20  price_overview.recurring_sub_desc  13147 non-null  object
 21  Price_In_Euros                     13147 non-null  float64
 22  Original_Price                     13147 non-null  float64
dtypes: float64(7), int32(5), int64(1), object(10)
memory usage: 2.2+ MB

In [ ]:
#let's remove that "+" from the age col 
df_steam_dropped['Minimum_age'] = df_steam_dropped['Minimum_age'].str.replace('+', '')

In [93]:
# change relevant columns to int64
df_steam_dropped['Minimum_age'] = df_steam_dropped['Minimum_age'].fillna(0).astype('int64')
df_steam_dropped['Recommendations'] = df_steam_dropped['Recommendations'].fillna(0).astype('int64')
df_steam_dropped['Count_DLC'] = df_steam_dropped['Count_DLC'].fillna(0).astype('int64')
df_steam_dropped['Total_Achievements'] = df_steam_dropped['Total_Achievements'].fillna(0).astype('int64')

In [94]:
df_steam_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13147 entries, 0 to 16582
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Game                               13147 non-null  object
 1   Steam_AppID                        13147 non-null  int64
 2   Minimum_age                        13147 non-null  int64
 3   Free                               13147 non-null  int32
 4   About_the_Game                     12815 non-null  object
 5   Developers                         12804 non-null  object
 6   Publishers                         13147 non-null  object
 7   categories                         12700 non-null  object
 8   genres                             12808 non-null  object
 9   Windows_Support                    13147 non-null  int32
 10  Mac_Support                        13147 non-null  int32
 11  Linux_Support                      13147 non-null  int32
 12  Metacritic_Score                   672 non-null    float64
 13  Recommendations                    13147 non-null  int64
 14  Release_Date                       13147 non-null  object
 15  content_descriptors.notes          1936 non-null   object
 16  Count_DLC                          13147 non-null  int64
 17  Total_Achievements                 13147 non-null  int64
 18  Full_Controller_Support            13147 non-null  float64
 19  DRM_Protection                     13147 non-null  int32
 20  price_overview.recurring_sub_desc  13147 non-null  object
 21  Price_In_Euros                     13147 non-null  float64
 22  Original_Price                     13147 non-null  float64
dtypes: float64(4), int32(5), int64(5), object(9)
memory usage: 2.2+ MB

#### looking at the dates in excel, theres still games that have not been released yet, so those will be removed. This will aslo make life easier to convert the data type to date

In [95]:
rows_to_remove = ['To be announced', 'Q3 2023', 'Q3 2025', 'Q4 2023', 'October 2023', 'Q1 2024', 'Q2 2023', 'Q2 2024', 'Q1 2027', 'Q4 2024', 'Q3 2024', 'Q1 2025', 'Q4 2025', 'Coming soon']

df_steam_dropped = df_steam_dropped[~df_steam_dropped['Release_Date'].isin(rows_to_remove)]

In [96]:
# changing Release_Date to a date format
df_steam_dropped['Release_Date'] = pd.to_datetime(df_steam_dropped['Release_Date'], errors='coerce').dt.date

## The rest of the cleaning will be done in excel

In [97]:
df_steam_dropped.to_excel('data/steam_data_cleaned_almost.xlsx')